header {
    & ul li:nth-child(1) {
        background: url(../assets/icons/MagnifyingGlass.svg) no-repeat;
        padding-left: 2rem;
        
        &:hover {
            background: url(../assets/icons/lupa-hover.svg) no-repeat;
        }
    }
    
    & li {
        cursor: pointer;
    }

    & li:hover {
        color: var(--brand-color);
    }
}