.container {
    --max-width: 22.5rem;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.py-sm {
    padding-block: var(--py-sm);
}

.py-md {
    padding-block: var(--py-md);
}

.py-xl {
    padding-block: var(--py-xl);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-flow-column {
    grid-template-columns: repeat(auto-fit, minmax(17.85rem, 1fr));
}